// beer-colors:
$yellow: #ffda58;
$brown: #553333;
$red: #f85229;
$light_blue: #75b2ff;
$dark_blue: #3454d1;
$beige: #e8d2ae;
$pink: #e072a4;
$dark_green: #3ccb75;
$light_green: #ace365;
$orange: #ff912d;

// ui-colors:
$bg_color: #fbfbfb;
$ui_color_dark: #343331;
$ui_color_light: #f4f4f4;
