@use "../abstracts/vars";

#basket {
  width: 100vw;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -4px 0px 12px 4px #8686860d;
  z-index: 1;

  display: none;
  opacity: 0;

  .remove_added_beer {
    width: 20px;
    height: 20px;
    background: url(/close-outline.svg) no-repeat;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .added_beers {
    height: 40vh;
    overflow-y: auto;

    ul {
      list-style-type: none;
      padding: 40px 0;

      li {
        height: 121px;

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 92px;

          position: relative;

          input {
            opacity: 1 !important;
            -webkit-text-fill-color: vars.$ui_color_dark;
          }

          .subtotal {
            color: rgb(80, 80, 80);
            font-size: 12px;
            align-self: flex-end;
            margin-bottom: 1%;
            width: 40px;
            text-align: end;
          }
          > div {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            min-height: 80px;
            @media screen and (min-width: 1000px) {
              margin-left: -30px;
            }

            p:nth-child(3) {
              width: 65px;
              color: vars.$ui_color_dark;
              align-self: flex-start;
            }
            p:nth-child(2) {
              padding: 3px 0;
              font-weight: 600;
            }

            > div {
              display: flex;
            }
          }
        }

        img {
          width: 60px;
          margin-left: -5px;
        }
      }

      h3 {
        padding-top: 20px;
      }
    }
  }

  .empty_basket {
    text-align: center;
    padding-top: calc(20vh - 7px);
    font-size: 14px;
    color: grey;
  }

  .your_order {
    padding: 60px 50px 0 50px;
    max-width: 500px;
    margin: 0 auto;

    .total {
      display: flex;
      justify-content: space-between;
      border-top: 3px dashed vars.$ui_color_light;
      padding-top: 10px;
    }
  }

  .payment {
    padding: 0 50px 100px 50px;
    max-width: 500px;
    margin: 0 auto;

    h3 {
      padding-top: 20px;
    }

    .pay_alert_message {
      color: rgb(255, 92, 71);
      font-family: "Poppins", sans-serif;
      font-size: 0.7rem;
      position: absolute;
    }

    .payment_options {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      div {
        width: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
          align-self: center;
        }
      }
      p {
        padding-top: 10px;
        text-align: center;
      }

      button {
        height: 45px;
        width: 45px;
        border-radius: 20cm;
        border: none;
        background-color: vars.$ui_color_light;
        box-shadow: 1px 2px 8px #86868659;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .payment button:nth-child(3) > img {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  #basket {
    width: 270px;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(300px);
    opacity: 1;

    .your_order {
      padding: 25px 25px 0 25px;
      margin: 0 0;
    }
    .payment {
      padding: 0 25px 25px 25px;
      margin: 0 0;
    }

    .added_beers {
      height: 50vh;
    }
    .empty_basket {
      padding-top: calc(25vh - 7px);
    }
  }

  #beerlist_container {
    width: calc(100% - 270px);
  }
}
