@use "../abstracts/vars";
:root {
  --colored_bg: vars.$ui_color_light;
  --pressed-payment: ;
}

#beerlist_container {
  margin-top: 20vh;
  padding: 0 30px;
  margin-bottom: 120px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  grid-gap: 20px;

  .beer_image {
    max-width: 90%;
  }
}

.name_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 500px) {
  #beerlist_container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 50px;
    padding: 0 70px;
  }
}

@media screen and (min-width: 930px) {
  #beerlist_container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 50px;
    padding: 0 70px;
  }
}
