@use "../abstracts/vars";
:root {
  --colored_bg: vars.$ui_color_light;
}

#beerlist_container {
  margin-top: 20vh;
  padding: 0 30px;
  margin-bottom: 120px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  grid-gap: 20px;

  article {
    position: relative;

    .tap_status {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      color: grey;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .beer_image {
    max-width: 90%;
  }
}

.name_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 500px) {
  #beerlist_container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 50px;
    padding: 0 70px;
  }
}

@media screen and (min-width: 930px) {
  #beerlist_container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 50px;
    padding: 0 70px;
  }
}

#basket {
  width: 100vw;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -4px 0px 12px 4px #8686860d;
  z-index: 1;

  display: none;
  opacity: 0;

  .remove_added_beer {
    width: 20px;
    height: 20px;
    background: url(/close-outline.svg) no-repeat;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .added_beers {
    height: 40vh;
    overflow-y: auto;

    ul {
      list-style-type: none;
      padding: 40px 0;

      li {
        height: 121px;

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 92px;

          position: relative;

          input {
            opacity: 1 !important;
            -webkit-text-fill-color: vars.$ui_color_dark;
          }

          .subtotal {
            color: rgb(80, 80, 80);
            font-size: 12px;
            align-self: flex-end;
            margin-bottom: 1%;
            width: 40px;
            text-align: end;
          }
          > div {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            margin-left: -30px;
            min-height: 80px;

            p:nth-child(3) {
              width: 65px;
              color: vars.$ui_color_dark;
              align-self: flex-start;
            }
            p:nth-child(2) {
              padding: 3px 0;
              font-weight: 600;
            }

            > div {
              display: flex;
            }
          }
        }

        img {
          width: 60px;
          margin-left: -5px;
        }
      }

      h3 {
        padding-top: 20px;
      }
    }
  }

  .empty_basket {
    text-align: center;
    padding-top: calc(20vh - 7px);
    font-size: 14px;
    color: grey;
  }

  .your_order {
    padding: 60px 50px 0 50px;
    max-width: 500px;
    margin: 0 auto;

    .total {
      display: flex;
      justify-content: space-between;
      border-top: 3px dashed vars.$ui_color_light;
      padding-top: 10px;
    }
  }

  .payment {
    padding: 0 50px 100px 50px;
    max-width: 500px;
    margin: 0 auto;

    h3 {
      padding-top: 20px;
    }

    .pay_alert_message {
      color: rgb(255, 92, 71);
      font-family: "Poppins", sans-serif;
      font-size: 0.7rem;
      position: absolute;
    }

    .payment_options {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      div {
        width: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
          align-self: center;
        }
      }
      p {
        padding-top: 10px;
        text-align: center;
      }

      button {
        height: 45px;
        width: 45px;
        border-radius: 20cm;
        border: none;
        background-color: vars.$ui_color_light;
        box-shadow: 1px 2px 8px #86868659;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .payment button:nth-child(3) > img {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  #basket {
    width: 270px;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(300px);
    opacity: 1;

    .your_order {
      padding: 25px 25px 0 25px;
      margin: 0 0;
    }
    .payment {
      padding: 0 25px 25px 25px;
      margin: 0 0;
    }

    .added_beers {
      height: 50vh;
    }
    .empty_basket {
      padding-top: calc(25vh - 7px);
    }
  }

  #beerlist_container {
    width: calc(100% - 270px);
  }
}

/// singleview

#singleview {
  display: none;
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  background-color: vars.$bg_color;
  opacity: 0;

  overflow-y: auto;

  .colored_bg {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--colored_bg) 52%, vars.$bg_color 48%);
  }
}

.desc_wrapper {
  padding-bottom: 70px;
}

.sv_beer_image {
  max-width: 100%;
  height: 50vh;
}

.beer_information {
  padding: 0 30px 40px 30px;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    max-width: 400px;
    margin: 0 40px;
    padding: 0;
    padding-top: 12.5vh;
  }

  h1 {
    padding-bottom: 15px;
  }

  input {
    opacity: 1 !important;
    -webkit-text-fill-color: vars.$ui_color_dark;
  }
}

.beer_amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  padding: 0 5px;
  width: 30px;
  background-color: transparent;
  border: none;
  text-align: center;
}

.basket_amount {
  padding: 0 5px;
  width: 28px;
  background-color: transparent;
  border: none;
  text-align: center;
}

.minus_basket {
  // background-color: #f4f4f4;
  background-color: white;
}
.plus_basket {
  background-color: white;
}

.plus_minus {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
  color: vars.$ui_color_dark;
  box-shadow: 0.5px 0.5px 2px #86868644;
  padding-top: 1.7px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.minus {
  background-color: #f4f4f4;
}

.plus {
  background-color: white;
}

.added_beers .plus_minus {
  width: 23px;
  height: 23px;
  font-size: 14px;
}

.description {
  padding-bottom: 10px;
}

.sv_alc {
  padding: 5px 0;
}
.sv_price {
  padding-bottom: 25px;
}

.description_tabs {
  background-color: white;
  box-shadow: 0.5px 0.5px 2px #86868644;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px;
  margin-top: 35px;
  margin-bottom: 15px;

  button {
    color: grey;
    text-transform: none;
    font-weight: 100;
    background-color: transparent;
    border: none;
    height: 25px;
    font-size: 12px;

    @media screen and (min-width: 400px) {
      width: 25%;
    }
  }
}

@media screen and (min-width: 1000px) {
  #singleview {
    width: calc(100% - 270px);
    article {
      display: flex;
      flex-direction: row;
      height: 100vh;
      overflow-y: auto;
    }

    .colored_bg {
      height: 100vh;
      width: 45%;
      justify-content: center;
      background-image: linear-gradient(to right, var(--colored_bg) 70%, vars.$bg_color 30%);
    }
    .beer_information {
      width: 55%;
      margin: 0 40px 0 20px;
      height: 100vh;
      overflow-y: auto;
    }
    .sv_beer_image {
      margin-left: 39%;
      height: 100vh;
    }
  }
}
