@use "../abstracts/vars";

#screensaver {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  background: vars.$bg_color;
  > div {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background: #ff912d;
    margin: 10px;
  }

  .bg {
    position: absolute;
    z-index: -1;
    width: 350px;
    height: 350px;
    animation: bounce_bg 1.5s linear infinite alternate-reverse, col 50s ease infinite;
    border-radius: 250px;
    opacity: 0.2;
  }

  h1 {
    position: absolute;
    @media (max-width: 700px) {
      font-size: 2rem;
    }
  }

  .col {
    animation: col 50s ease infinite;
  }
}

@keyframes bounce_bg {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes col {
  0% {
    background: #ff912d;
  }
  10% {
    background: #ffda58;
  }
  20% {
    background: #ace365;
  }
  30% {
    background: #3ccb75;
  }
  40% {
    background: #e072a4;
  }
  50% {
    background: #e8d2ae;
  }
  60% {
    background: #3454d1;
  }
  70% {
    background: #75b2ff;
  }
  80% {
    background: #f85229;
  }
  90% {
    background: #553333;
  }
  100% {
    background: #ff912d;
  }
}
