@use "../abstracts/vars";

.logo {
  position: absolute;
  width: 80px;
  height: 67px;
  right: 30px;
  top: 20px;
  background: url(/logo_foobar.svg);
}

.home_logo {
  position: absolute;
  width: 80px;
  height: 67px;
  left: 30px;
  top: 20px;
  background: url(/logo_foobar.svg);
}
