@use "../abstracts/vars";

.pay {
  // position: absolute;
  width: 299px;
  height: 38px;
  // left: 446px;
  // top: 589px;
  background: vars.$ui_color_dark;
  border-radius: 5px;
  border: none;
}

.basket_pay {
  width: 100%;
  height: 35px;
  background: vars.$ui_color_dark;
  border-radius: 5px;
  border: none;
}

.add_beer {
  width: 55%;
  max-width: 250px;
  height: 35px;
  background: vars.$ui_color_dark;
  border-radius: 5px;
  border: none;
}

.chosen_desc {
  background-color: vars.$ui_color_dark !important;
  border-radius: 5px !important;
  color: vars.$ui_color_light !important;
}
