@use "../abstracts/vars";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$bg_color;
}

.hidden {
  display: none;
}

.chosen {
  background-color: vars.$ui_color_dark !important;
  transform-origin: center;
  // transform: scale(1.04) !important;
  transition: 0.3s;
  fill: white;
}
